*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.navigationBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10 vh;
  background-color: #BA181B;
}

.navList {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}