* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-form {
  background-color: #d3d3d3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 63% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 65%, 63% 100%, 0 100%);
}
.login-form form {
  border-radius: 20px;
  height: 70vh;
  width: 500px;
  padding: 100px;
  background-color: #161a1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form form p {
  margin-bottom: -20px;
  font-weight: bold;
  color: #a4161a;
}
.login-form form label {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  color: #f5f3f4;
}
.login-form form input {
  border: none;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.login-form form button {
  background-color: #f5f3f4;
  border: none;
  border-radius: 10px;
  margin-top: 90px;
  margin-bottom: 20px;
  height: 500px;
  width: 50%;
  font-weight: bold;
  font-size: larger;
}
.login-form form button:hover {
  background-color: #e5383b;
  color: white;
}

.welcome-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.welcome-page h1 {
  font-size: 92px;
  font-weight: bold;
  margin-bottom: 20px;
}
.welcome-page h1 span {
  color: #a4161a;
}
.welcome-page div {
  display: flex;
}
.welcome-page div h2 {
  font-size: 52px;
}

.calendar {
  background-color: #a4161a;
  padding-right: 200px;
  padding-left: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar h1 {
  color: #ffffff;
  margin-bottom: 90px;
  font-weight: bold;
  font-size: 52px;
}

.index-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.index-page h1 {
  font-size: 72px;
}

.subject-list {
  background-color: #161a1d;
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subject-list li {
  padding: 10px;
  font-size: 32px;
  color: #d3d3d3;
}

.print-button {
  border: none;
  color: #161a1d;
  font-weight: bold;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  background-color: #e5383b;
}
.print-button:hover {
  background-color: #a4161a;
  color: #d3d3d3;
}

.grade-exam {
  height: 100vh;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  background-color: #a4161a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grade-exam form {
  border-radius: 20px;
  height: 70vh;
  width: 500px;
  padding: 100px;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grade-exam label {
  color: #161a1d;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.grade-exam input {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.grade-exam button {
  background-color: #e5383b;
  border: none;
  border-radius: 10px;
  margin-top: 90px;
  margin-bottom: 20px;
  height: 500px;
  width: 50%;
  font-weight: bold;
  font-size: larger;
}
.grade-exam button:hover {
  background-color: #660708;
  color: white;
}/*# sourceMappingURL=App.css.map */